# Entorno virtual
.venv/
venv/
env/

# Variables de entorno
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribución
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Type checking
.mypy_cache/
.pyre/
.pytype/

# IDEs
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log

# Archivos temporales
*.tmp
